= form_for @mapping, html: { multipart: true} do |f|
  = f.select :targetable_model, @targetable_models
%br
  / = @mapping.originable.name
%br
  / = @mapping.originable.
%br
  / # = @mapping.targetable_model}