.row
  .small-12.columns
    = form_for @mapping, html: { multipart: true} do |f|
      %fieldset 
        %legend Create new legend: Step 1
        = f.label :targetable_model
        = f.select :targetable_model, @targetable_models
        = f.submit "Select Target Model", class: "button"
