.container
  .row
    - file.originable_events.each do |event|
      .col-sm-2
        = event_button_to(event, file.id)
    - file.disabled_originable_events.each do |event|
      .col-sm-2
        = button_to event, {}, class: "btn btn-secondary disabled", html_options: "disabled"
