= form_for(@mapping, url: { controller: "mappings", action: "create", originable_id: file.id}) do |f|
  = f.hidden_field :originable_id, value: file.id
  .small-6.columns
    = f.select :targetable_model, @targetable_models
  .small-6.columns
    .has-tip{"aria-haspopup" => "true", "data-tooltip" => "", title: event_description("target")} 
      = f.submit "create new mapping", class: "button small expand", method: :post