

.small-12.columns
  .small-12.columns
    .row
      %h1 New
      = render 'form'
    .row
      %fieldset
        = form_tag

  .row
    - @contents.each do |file|
      = render 'content', file: file      

    %hr
    .pagination= paginate @contents
