.small-12.columns
  %ul.small-block-grid-1.medium-block-grid-3
    %li
      %dl.accordion{"data-accordion" => "myAccordionGroup"}
        %dd.accordion-navigation
          %a{:href => "#panel1c"} Accordion 1
          #panel1c.content
            Panel 1. Lorem ipsum dolor
        %dd.accordion-navigation
          %a{:href => "#panel2c"} Accordion 2
          #panel2c.content
            Panel 2. Lorem ipsum dolor
        %dd.accordion-navigation
          %a{:href => "#panel3c"} Accordion 3
          #panel3c.content
            Panel 3. Lorem ipsum dolor
    %li
      %dl.accordion{"data-accordion" => "myAccordionGroup"}
        %dd.accordion-navigation
          %a{:href => "#panel4c"} Accordion 4
          #panel4c.content
            Panel 4. Lorem ipsum dolor
        %dd.accordion-navigation
          %a{:href => "#panel5c"} Accordion 5
          #panel5c.content
            Panel 5. Lorem ipsum dolor
        %dd.accordion-navigation
          %a{:href => "#panel6c"} Accordion 6
          #panel6c.content
            Panel 6. Lorem ipsum dolor